<header>
    <div class="container d-flex justify-content-between align-items-center header-container">
        <div class="left-side d-flex justify-content-between align-items-center">
            <mat-icon class="cursor-pointer" (click)="toggleSideNav()">dashboard</mat-icon>
            <span class="ml-1">My dashboard</span>
        </div>
        <div class="right-side d-flex justify-content-between align-items-center">
            <span>Hello ! User</span>
            <mat-icon class="ml-1 cursor-pointer" matTooltip="Logout" (click)="signOut()">power_settings_new</mat-icon>
        </div>
    </div>
</header>